
#仅一个Category

log4cpp.rootCategory=INFO,osAppender,rollAppender

#osAppender属性
log4cpp.appender.osAppender=ConsoleAppender
log4cpp.appender.osAppender.layout=PatternLayout
log4cpp.appender.osAppender.layout.ConversionPattern=%d: %p %c %x: %m%n

#rollAppender属性
log4cpp.appender.rollAppender=RollingFileAppender 
log4cpp.appender.rollAppender.fileName=./roll.log
log4cpp.appender.rollAppender.maxFileSize=1024
log4cpp.appender.rollAppender.layout=PatternLayout
log4cpp.appender.rollAppender.layout.ConversionPattern=%d{%Y-%m-%d %H:%M:%S,%l}: %p %c %x: %m%n

